.landing {
    background-color: var(--mco);
}

.landing .landing-img img {
    width: 250px;
}

.landing .landing-text p {
    text-align: center !important;
    width: 200px;
}

.landing .landing-text .book-btn {
 
}

.landing .landing-text .book-btn .book {
    background-color: var(--sco);
}
@media (max-width:768px) {
    .landing .landing-text .book-btn{
        bottom: -20px;
    }
}