.reservations .steps {
    margin-top: 30px;
}

.reservations .steps .step {
    position: relative;
    width: 30px;
    height: 30px;
}

.reservations .steps .step::before {
    content: '';
    position: absolute;
    background-color: var(--mco);
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    border-radius: 5px;
    z-index: -1;
}

.reservations .form-wrapper {
    background-color: var(--bg);
    margin-top: 30px;
}

.active-form {
    color: var(--sco) !important;
}

/* reservation-form */
.reservation-form {
    position: relative;
}

.reservations button {
    width: fit-content;
    background-color: var(--mco);
    border: none;
    outline: none;
    font-weight: bold;
}

.reservations .rest-btn {
    color: var(--mco);
    background-color: transparent;
    border: 2px solid var(--mco);
}

/* review form */
.review-form {
    min-width: 350px;
}

.review-form .review-row {
    background-color: var(--mco);
}

.review-form .review-img img {
    max-width: 100px;
}

.review-form .review-info h4 {
    font-size: 16px;
    font-weight: bold;
}

.review-form .review-info p {
    font-size: 14px
}
/* reserve-complete */
.reserve-complete a{
    background-color: var(--mco);
    
}