/* components */
.main-title,
.landing-text .place {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.review-card {
    max-width: 220px;
    max-height: 190px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.review-card .user small {
    bottom: -6px;
    right: 30%;
    font-size: 10px;
}

.review-card .text p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-card:hover {
    max-height: 200px;
}