@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

:root {
    --mco: #495e57;
    --sco: #f4ce14;
    --txt: #000000;
    --bg: #edefee;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}